@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(85, 85, 248);
    padding: 10px;
}
.main-heading{
    color: #fff;
    font-family: "poppins";
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.searchBtn{
    font-size: 14px;
    padding: 4px;
}
.bg-container{
    background-color: rgb(222, 222, 252);
    padding: 20px;
    min-height: 100vh;
    padding-left: 20;
    padding-right: 20;
    
}
.line{
    color: gray;
}

/* second container */
.dataCont{
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px;
}
.cityTitle{
    color: #fff;
    font-family: "poppins";
    font-size: 16px;
    font-weight: bold;
}
.card-para{
    color: #fff;
    font-family: "poppins";
    font-size: 10px;
}
@media screen and (min-width:768px) {
    .cityTitle{
        color: #fff;
        font-family: "poppins";
        font-size: 18px;
        font-weight: bold;
    }
    .card-para{
        font-size: 16px; 
    }
}
.main-image{
    width: 80px;
    height: 80px;
}
.forecast-head{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card{
    color: #fff;
    width: 47%;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    .card{
        width: 23%;
    }
}

.card-heading{
    font-size: 17px;
}
.card-image{
    width: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-para{
    font-size: 15px;
}